/* Custom Stylesheet */
/**
 *
 * Author: Byron Morales Veliz
 * Thanks for MaterializeCSS.com
 */
:root {
  /* Define your main color here */
  --first-color: #36626a;
  --second-color: #588d9c;
  --third-color: #73b1c1;
  --fourth-color: #f1d18a;
  --projects-bg-color: #ebdcc5;
}
nav {
    background-color: var(--first-color);
}

#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: var(--first-color);
}

.highlight-text {
    color: var(--third-color);
}

.icon-block {
    padding: 0 15px;
}

#intro, #work, #team {padding-top: 4rem;}

div.intro_text {
    font-size: 1.8rem;
    text-align: justify;
}
div.intro-text-title h3 {
    padding-top: 50%;
    color: var(--second-color);
}
div.intro_badges_text {
    font-size: 1.4rem;
    text-align: center;
}
div.intro-badges-unir {
    padding-top: 21%;
}
div.intro_text > div.no-margin-bottom {
    margin-bottom: 0px;
}

.intro-serparator {
    border-top: 2px solid var(--second-color);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


#nav_f{
    box-shadow: none !important; 
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{color: #2196F3;}

.in{font-weight: 400 !important; font-style: normal !important;}

.card-content a {color: var(--third-color);}

.card-content a:hover {color: #2196F3;}

#work, #team{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.header-section {
    color: var(--second-color)
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: var(--second-color);
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

div.touch-activator {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.3
}

img.touch-activator-img {
    width: 100%;
    height: auto;
    display: block;
}


.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
    background-color: var(--first-color);
}
.footer-copyright {
    background-color: var(--first-color);

}

img.cert-image{
    max-height: 100%;
    max-width: 100%;
}
div.me-background{
    background-image: url(../img/profile.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width: 767px) {
    div.me-background {
        background-size: 74%;
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: bottom;
    }
}

/* Background image for medium-sized screens */
@media (min-width: 768px) and (max-width: 991px) {
    div.me-background {
        background-repeat: no-repeat;
        background-position-x: left;
        background-size: 50%;
        background-position-y: bottom;
    }
}

@media screen and (max-width: 600px) {
    div.intro-text-title h3 {
        padding-top: 0px;
    }
    div.intro-badges-unir {
        padding-top: 0px;
    }
}